#results {width: 100%;}
#results li {
	border: 1px solid #CCCCCC;
    display: inline-block;
    list-style: none outside none;
    margin: 1em;
    padding: 1em;
    vertical-align: middle;
    width: 15%;
    -moz-border-radius: 1em;
	border-radius: 1em;
}
#results a {
	color: #000000;
	text-decoration: none;
}
.boldHellip {
	font-weight: bold;
	color: #00F;
}